/*Rst*/

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    
    article, hgroup, section, p {
        display: block;
    }
    
    img { vertical-align: middle; }
    a   { cursor: pointer; }
    em { font-style: italic; }
    b { font-weight: 700; }

/*Ping*/

    * {
        -webkit-font-smoothing: antialiased;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
    }

    html, body {
        width: 100%;
        color: #696B38;
        font: normal 15px/1.5 Helvetica Neue, Helvetica, Arial;
        background: #FFFAEB;
    }

    a { color: #BD941F;}
    p { line-height: 1.5em; }
    button { background: #FFECB2; color: #BD941F; padding: 5px 10px; margin: 0 5px 0 0; border-radius: 5px; outline: 0; }
    ul { list-style-position: inside; }

    header {
        width: 100%;
        height: 5em;
        background: #FFECB2;
    }

    header section h1 { float: left; font-size: 3em; color: #BD941F; line-height: 1.5em; font-weight: lighter; text-shadow: 1px 1px rgba(0,0,0,0.2); }
    header section a { float: right; margin: 0 10px 0 0; line-height: 5rem; }

    section {
        width: 700px;
        margin: 0 auto;
    }

    section h2 {
        font-size: 2em;
        font-weight: lighter;
        margin: 1em 0 0.5em;
        text-shadow: 1px 1px rgba(0,0,0,0.2);
    }

    .code {
        white-space: pre;
        background: #FFF4D4;
        color: #BD941F;
        font-family: monospace;
        min-height: 1em;
        margin: 1em 0;
        padding: 15px 0 15px 15px;
    }

